body {
    background: linear-gradient(-45deg, #00e1ff, #61faad);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.p1 {
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 300%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans";
}

img {
    border-radius: 40px;
    padding: 20px;
}